# ignoring the file that contains important information
.env
config.yml

# ignoring the file that contains garbage.
yarn-error.log
yarn.lock
package-lock.json

# ignoring modules folder
node_modules

# ignoring useless files 
.cache
.config
.npm
.screen
.termux
