# ignoring the file that contains important information
.env

# ignoring the file that contains garbage.
yarn-error.log
yarn.lock

# ignoring modules folder
node_modules

# ignoring useless files 
.cache
.config
.npm