<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KellyWorld</title>
 </head>
   <body>
   <strong>Hello World</strong>
 </body>
</html>