<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Kettra World</title>
      <link rel="stylesheet" href="https://kettraworld.github.io/src/css/bulma.min.css">
    <link rel="stylesheet" href="https://kettraworld.github.io/src/css/particle.css">
   <link rel="stylesheet" href="https://kettraworld.github.io/src/css/style.css">
   <link rel="stylesheet" href="src/css/cores.css">
<link rel="icon" href="https://kettraworld.github.io/host/imagens/logo.png"> 
 </head>
  </div>
   <body>
     <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
       <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
      <header class="section">
       <div class="logo container">
        <a href="index.php">
      <img src="src/img/logo.png">
    </a>
  </div>
   <div class="container">
     <nav class="navbar">
       <div class="navbar-brand">
         <a class="navbar-burger burger">
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
           <span aria-hidden="true"></span>
        </a>
      </div>
      </header>
 <main class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="article">
          <h1 class="article-title"><i class="fas fa-gamepad"></i> ğ•‚ğ•–ğ•¥ğ•¥ğ•£ğ•’ğ•ğ• ğ•£ğ•ğ••</h1>
          <div class="article-thumbnail" style="background-image:url(https://cdn.discordapp.com/avatars/932705411897905193/025e91d5ee09b30203b209ef7d504138.png)"></div>
          <div class="article-content">