<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Kettra World</title>
      <link rel="stylesheet" href="https://kettraworld.github.io/src/css/bulma.min.css">
    <link rel="stylesheet" href="https://kettraworld.github.io/src/css/particle.css">
   <link rel="stylesheet" href="https://kettraworld.github.io/src/css/style.css">
   <link rel="stylesheet" href="src/css/cores.css">
<link rel="icon" href="https://kettraworld.github.io/host/imagens/logo.png"> 
 </head>
  </div>
   <body>
     <div class="particle particle-1"></div>
      <div class="particle particle-2"></div>
       <div class="particle particle-3"></div>
        <div class="particle particle-4"></div>
      <header class="section">
    </a>
  </div>
      </header>
 <main class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <article class="article">
          <h1 class="article-title"><i class="fas fa-gamepad"></i> ğ•‚ğ•–ğ•¥ğ•¥ğ•£ğ•’ğ•ğ• ğ•£ğ•ğ••</h1>
             <div class="article-content">
          <style> 
          img { 
          border-radius: 60%; 
          }
          .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 60%;
          
          }
          </style>
          <img src="https://cdn.discordapp.com/avatars/932705411897905193/025e91d5ee09b30203b209ef7d504138.png"></img>
            <div class="center">
         <a href="https://www.planetminecraft.com/server/kettraworld/vote/"><button class="btn6"><i class="fas fa-vote-yea"></i> Adicione</button></a>
         </div>
        </main></div></div></div></div></article></div>
            
 <footer class="section">
    <div class="container">
       <article class="footer">
          <span>Kettra World <script>document.write(new Date().getFullYear())</script> &copy; Todos os direitos reservados.</span>
              <a href="https://github.com/sebastianjnuwu" target="_blank" class="is-muted"><i class="fas fa-tools"></i> Desenvolvido por sebastianjn007</a>
             </article>
        </div>
    </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
 </body>
</html>